<!-- <iframe id="music_163" frameborder="no" border="0" marginwidth="0" marginheight="0" width="400" height="280" src="//music.163.com/outchain/player?type=0&id=2108961358&auto=1&height=430"></iframe> -->

<script type="text/javascript">
  function openshut(souc_, tar_){
  var souc = document.getElementById(souc_);
  var tar = document.getElementById(tar_);
  if($(tar).hasClass('act')){

  $(tar).on('click',function(){
  $(this).removeClass('active');
  var i = Math.round(Math.random() * 2);
  var j = Math.round(Math.random() * 2);
  cell(i,j).addClass('active');
  });
  }
  else{

  $(tar).addClass = ("act");
  }
  }
</script>



<div id="music">
  <span id="now"  class="music my_button">
    <i class="fa fa-music my_button" aria-hidden="true"></i>
  </span>
</div>

<script>
  $("div").on('click','#now',function(){
  var souc = document.getElementById("now");
  var tar = document.getElementById("music_163");
  if($(tar).hasClass("act")){
  souc.style.color = "#ffffff";
  $(tar).removeClass("act");
  return false;
  }
  else{
  souc.style.color = "#58b2dc";
  $(tar).addClass("act");
  return false;
  }
  })
  ;
</script>

<!-- require APlayer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.js"></script>

<div id="music_163"
    class="aplayer"
    data-id="2108961358"
    data-server="netease"
    data-type="playlist"
    data-theme="#C73E3A"
    style="max-height: 260px;background-color: rgba(255,255,255,0.6)">
</div>

<script src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js"></script>

<style>
.aplayer .aplayer-list{
    max-height: 150px!important;
    background-image: url(https://picture-1256084113.cos.ap-beijing.myqcloud.com/function-image/music-bm.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.aplayer .aplayer-lrc::before,
.aplayer .aplayer-lrc::after{
    display:none!important;
}

.aplayer .aplayer-list ol li.aplayer-list-light {
    background: #E87A9060;
}

.aplayer .aplayer-list ol li:hover {
    background: #E87A9060;
}

.aplayer .aplayer-list ol li{
    border-top-color: #ffffff00
}
</style>