<!-- 使用 Gitalk -->
<div id="gitalk-comment">
    <%- partial('_widget/comment/' + theme.comment.use + '/main') %>
</div>
<style>
    #gitalk-comment {
        background-color: rgba(0,0,0,.0);
        padding: 6px;
    }
</style>